<div class="picker gallery">
    {{#if this}}
      <select class="image-picker form-control" name="image-picker-select" id="customer-pic-select" multiple>
          {{#each this}}
              {{#each this}}
                <option data-img-src="{{ this }}" value="{{ this }}" data-img-label="{{ this }}">{{ this }}</option>
              {{/each}}
          {{/each}}
      </select>
    {{else}}
      <div class="alert alert-info">
        您还没有上传过任何图片，请先上传！
      </div>
    {{/if}}
</div>