<a href="#" class="list-group-item column" draggable="true" data-src="{{src}}"
  data-title="{{title}}" title="{{title}}">
  <img src="{{src}}" alt="{{title}}" />
  <span>{{name}}</span>
  <div class="pull-right">
    <button type='button' title='是否显示' class='btn btn-link visible-btn btn-xs'>
      <span class="fa-stack">
        <i class="fa fa-eye fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger" style='display: none'></i>
      </span>
    </button>
    <button type='button' title='上' class='btn btn-link up-btn btn-xs'>
      <i class='fa fa-fw fa-arrow-up'></i>
    </button>
    <button type='button' title='下' class='btn btn-link down-btn btn-xs'>
      <i class='fa fa-fw fa-arrow-down'></i>
    </button>
    {{#unless default}}
    <button type='button' class='btn btn-link remove btn-xs' title='删除'>
      <i class='fa fa-fw fa-2x'>&times</i>
    </button>
    {{/unless}}
  </div>
</a>
