<div class="panel panel-default panel-{{label}}">
  <div class="panel-heading">
    <a class="btn-collapse btn btn-xs pull-right" {{#unless model}}style="display: none"{{/unless}}>
      <i class="fa fa-chevron-up"></i>
    </a>
    <span class='title'>
      <span class="text-warning">
        <span class='hint'>
        {{#if model}}
        修改
        {{else}}
        新建
        {{/if}}
        </span>
        <b>{{label}}</b>
      </span>
      <em>{{# if model}}{{model.id}} - {{model.title}}{{/if}}</em>
    </span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal form-{{label}}">
      {{#each fields}}
        <div class="form-group">
          <label for="" class="control-label col-sm-2">{{this.label}}</label>
          <div class="{{this.class}}">
            {{#eq this.type 'file'}}
              <span class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>选择文件</span>
                <input type="file" name="file" data-field="{{this.name}}">
              </span>
            {{else}}
            <input type="{{this.type}}" placeholder="{{this.label}}" class='form-control' value="{{this.value}}" data-field="{{this.name}}"
              {{#each this.attributes}}
              {{this.name}}="{{this.val}}"
              {{/each}}
            >
            {{/eq}}
          </div>
          {{#eq this.type 'file'}}
            <div class="col-sm-2">
              <a class="fancybox thumbnail" rel="group" data-field="{{this.name}}" href="{{this.value}}" data-title="{{label}}">
                <img src="{{this.value}}"/>
              </a>
            </div>
          {{/eq}}
          <label class="control-label text-danger" style='display: none' data-field='{{this.name}}'>* {{this.error}}</label>
        </div>
      {{/each}}
      <div class="uploading-progress row" style='display: none'>
        <div class="col-md-11">
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              0%
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <button class="upload-cancel-btn btn btn-danger btn-xs">取消</button>
        </div>
      </div>
    </form>
    <ul class="list-group"></ul>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="pull-right">
        {{#if nextLevel}}
        <button class="btn btn-success btn-next-level" {{#unless model}}style='display:none'{{/unless}}>
          <i class="fa fa-plus"></i>
          新建{{nextLevel.view.prototype.label}}
        </button>
        {{/if}}
        {{#unless model}}
        <button class="btn btn-danger btn-cancel"><span aria-hidden="true"><i class="fa fa-times"></i></span>取消</button>
        {{else}}
          {{#unless parentView}}
          <button class="btn btn-danger btn-cancel"><span aria-hidden="true"><i class="fa fa-times"></i></span>取消</button>
          {{/unless}}
        {{/unless}}
        {{#unless model}}
        <button class="btn btn-primary btn-ok">确认</button>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
